#root {
  width: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background: #222;
}


.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

textarea {
  min-width: 500px;
  border: 0;
}

.input-container {
  margin: 24px;
}

button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.chat-container {
  width: 100%;
  overflow-y: scroll;
}

.message {
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 16px;
}

.user {
  background: #373737de;
}

.assistant {
  background: #777777de;
  display: flex;
}

.spinner {
  margin: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #3498db; /* Change this to the color you want for the spinner */
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 16px;
}